.main{
    display: flex;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


tbody:nth-child(even) {
    background-color: lightpink;
}

.formSubmit, .formSubmitAPI {
    margin-top: 10px;
}

th {
    background-color: lightsalmon;
    cursor: pointer;
}

th:hover{
    background-color: rgb(255, 109, 51);
}

.moviesImg {
    width: 80px;
}

.formsContainer{
    width: 450px;
}

.basicForm {
    margin: 20px;
    border: 1px solid grey;
    padding: 20px;
    border-radius: 5px;
    background: lightblue;
    display: flex;
    flex-flow: column;
}

.basicForm input{
    margin-bottom: 10px;
}

.basicForm input, .basicForm button{
    padding: 7px;
}

.changeColor{
    padding: 7px;
    margin: 0 20px;
}

h3 {
    margin: 0 20px;
}